<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
{
  "runSettings": {
    "RunConfiguration": {
      "TargetFrameworkVersion": "net6.0",
      "ResultsDirectory": "TestResults",
      "TestAdaptersPaths": "",
      "MaxCpuCount": 1,
      "TestSessionTimeout": "300000",
      "TestTimeout": "600000"
    },
    "MSTest": {
      "MapInconclusiveToFailed": "true",
      "CatchExceptions": "false",
      "EnableBaseClassTestMethodsFromOtherAssemblies": "false"
    },
    "WebDriverSettings": {
      "browserName": "chrome",
      "chromeOptions": {
        "args": [
          "--headless",
          "--disable-gpu",
          "--no-sandbox",
          "--disable-dev-shm-usage"
        ]
      }
    }
  }
}
	<appSettings>
		<add key="browser" value="chrome"/>
		<add key="env" value="live"/>
		<add key="liveURL" value="https://practicetestautomation.com/practice-test-login/"/>
		<add key="testDataFilePath" value="TestData/TestData.json"/>
	</appSettings>
</configuration>
